div.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: #ddd;
  color: #222;
}

header {
  flex-basis: 45vh;
  background-color: #000;
  color: white;
}

main {
  display: flex;
  flex-grow: 1;
  padding: 30px 0;
}

aside {
  min-width: 20%;
}

section.page {
  flex-grow: 1;
}

footer {
  background-color: black;
  color: white;
  padding: 4px 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
header {
  flex-basis: 30vh;
}
}