.contact-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('../images/contact1.JPG');
  width: 94%;
  height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid black;
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.contact-text {
  color: white;
  margin-left: 10px;
}

.contact-text h1 {
  font-size: 40px;
}

@media only screen and (max-width: 890px) {
.contact-image {
  height: 300px;
}
}

@media only screen and (max-width: 640px) {
.contact-image {
  height: 230px;
}
}

@media only screen and (max-width: 576px) {
.contact-image {
  font-size: 16px;
}

.contact-text h1 {
  font-size: 24px;
}
}

@media only screen and (max-width: 550px) {
.contact-image {
  height: 200px;
}
}

@media only screen and (max-width: 550px) {
.contact-image {
  height: 170px;
  font-size: 14px;
}

.contact-text h1 {
  font-size: 20px;
}
}

@media only screen and (max-width: 400px) {
.contact-image {
  height: 120px;
  font-size: 13px;
}
}