.contact-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('../images/contact1.JPG');
  height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid black;
  opacity: 0;
}

.contact-text {
  color: white;
  margin-left: 10px;
}

.contact-text h1 {
  font-size: 40px;
}