header {
  position: relative;
  overflow: hidden;
}

header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}