nav.main {
  background-color: #ddd;
  padding: 0 30px 30px 0;
}

.main ul {
  list-style-type: none;
}

nav.main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  padding: 10px;
  transition: 0.5s;
}

nav.main a:hover {
  transform: translateX(20px);
}

nav.main a.active {
  color: white;
  border-left: 10px black solid;
  transform: translateX(0);
}

nav.main li:nth-child(1) a.active {
  border-left-color: steelblue;
}

nav.main li:nth-child(2) a.active {
  border-left-color: orange;
}

nav.main li:nth-child(3) a.active {
  border-left-color: white;
}

nav.main li:nth-child(4) a.active {
  border-left-color: gold;
}

nav.main li:nth-child(5) a.active {
  border-left-color: black;
}

@media only screen and (max-width: 768px) {
nav.main a {
  font-size: 18px;
}
}

@media only screen and (max-width: 576px) {
nav.main a {
  font-size: 14px;
}
}