.offer {
	color: white;
	opacity: 0;
	display: flex;
	position: relative;
  margin-top: 40px;
  width: 90%;
  height: auto;
  min-height: 260px;
  font-size: 24px;
  align-items: center;
  border: 2px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.offer:first-child {
  margin-top: 0;
}

.offer-title {
  text-align: center;
  width: 45%;
  margin-left: 3%;
  margin-right: 3%;
	text-transform: uppercase;
	cursor: default;
}

.offer-price {
  text-align: center;
	width: 45%;
	cursor: default;
}

@media only screen and (max-width: 768px) {
.offer {
  min-height: 150px;
}
}

@media only screen and (max-width: 576px) {
.offer {
  min-height: 100px;
  font-size: 18px;
}
}

@media only screen and (max-width: 340px) {
.offer {
  width: 100%;
  font-size: 14px;
}
}