.gallery {
	width: 90%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.gallery-ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.gallery-li {
	width: 32%;
	display: block;
	float: left;
  margin-bottom: 20px;
	margin-right: 2%;
	opacity: 0;
}

.gallery-li:nth-child(3n) {
	margin-right: 0px;
}

.gallery-thumb {
	position: relative;
	overflow: hidden;
	border: 2px solid black;
	display: block;
	opacity: 1;
}

.gallery-thumb:hover {
	border-color: white;
}

.gallery-thumb:hover .gallery-pic {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

.gallery-thumb:hover .gallery-icon {
	visibility: visible;
	opacity: 1;
}

.gallery-pic {
	width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	display: block;
}

.gallery-icon {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
	padding: 0 20px;
	border: 2px #ececec solid;
	border-color: white;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	will-change: transform;
	font-family: "Dosis", Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	pointer-events: none;
}

@media only screen and (max-width: 576px) {
.gallery-ul {
	width: 90%;
	position: relative;
	left: 55%;
	transform: translateX(-50%);
}

.gallery-li {
	width: 49%;
}

.gallery-li:nth-child(even) {
	margin-right: 0px;
}

.gallery-li:nth-child(odd) {
	margin-right: 2%;
}

.gallery-icon {
	width: 50px;
	height: 50px;
	padding: 0;
	top: 30%;
	border: 0;
}
}