.rating {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  opacity: 0;
}

.rating:first-child {
  margin-top: 0;
}

.rating h3 {
  margin-bottom: 3px;
  text-transform: uppercase;
}

.rating span {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-style: italic;
}

.rating p {
  font-size: 16px;
}

@media only screen and (max-width: 576px) {
.rating {
  width: 70%;
}
}